.place__image {
    max-width: 460px;
    max-height: 460px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 1;
}

.place__image:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 97%;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 97%;
    }
}

@media screen and (max-width: 540px) {
    .place__image {
        max-width: 98%;
        margin: auto;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 375px) {
    .place__image {
        max-width: 100%;
        max-height: 100%;
    }
}