.cover__subtitle {
    max-width: 382px;
    margin: 62px auto 48px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin-top: 0;
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        max-width: 50%;
        margin-top: 47px;
        margin-bottom: 20px;
        font-size: 2.3vw;
        line-height: 30px;
    }
}

@media screen and (max-width: 375px) {
    .cover__subtitle {
        max-width: 270px;
        margin-top: 13px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 270px;
        margin-top: 5px;
        font-size: 14px;
        line-height: 18px;
    }
}