@import url('./__lang/header__lang.css');
@import url('./__logo/header__logo.css');

.header {
  display: flex;
  width: 90%;
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 23px;
  font-family: 'Inter', Arial, sans-serif;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 95%;
  }
}

@media screen and (max-width: 375px) {
  .header {
    max-width: 90%;
    padding-top: 10px;
  }
}