.video__item-bg_kamchatka {
    border-radius: 5px;
    background-blend-mode: multiply;
    background-size: cover;
    background-image: url(Rect.svg), url(kamchatka.png);
}

@media screen and (max-width: 1024px) {
    .video__item-bg_kamchatka {
        background-image: url(Rect1024.svg), url(kamchatka1024.png);
    }
}

@media screen and (max-width: 768px) {
    .video__item-bg_kamchatka {
        background-image: url(Rect768.svg), url(kamchatka768.png);
    }
}